<mat-card>
    <mat-card-content>
        <div class="header">
            <P class="registration">Registration Of Employee</P>
        </div>
        <form (ngSubmit)="onSubmit()" name="registrationForm" [formGroup]="registrationForm">
            <div class="row employeeRow">
                <div class="col-3 nameCol">
                   Employee Name <span class="star">*</span>
                </div>
                <div class="col-9 inputCol">
                   <input formControlName="employeeName" (click)="addData()" class="inputBox" autocomplete="off" [ngClass]="{ 'employeeRequired' : invalidEmployee == true}" placeholder="Enter Employee Name"/>
                </div>
            </div>
            <div>
                <div *ngIf="invalidEmployee == true" [ngClass]="{ 'employeeRequiredDiv' : invalidEmployee == true}">Employee name is required</div>
            </div>

            <div class="postionInput">
                <div class="row">
                    <div class="col-3 nameCol">
                       Employee Postion <span class="star">*</span>
                    </div>
                    <div class="col-9 inputCol">
                        <input formControlName="position" (click)="addPositionData()" class="inputBox" autocomplete="off" [ngClass]="{ 'employeeRequired' : invalidPosition == true}" placeholder="Enter Employee Postion"/>
                    </div>
                </div>
            </div>
            <div *ngIf="invalidPosition == true" [ngClass]="{ 'employeeRequiredDiv' : invalidPosition == true}">Employee postion is required</div>

            <div class="aboutInput">
                <div class="row">
                    <div class="col-3 nameCol">
                        About <span class="star">*</span>
                    </div>
                    <div class="col-9 inputCol">
                        <input formControlName="about" (click)="addAboutData()" class="inputBox" autocomplete="off" [ngClass]="{ 'employeeRequired' : invalidAbout == true}" placeholder="Enter Employee About"/>
                    </div>
                </div>
            </div>

            <div *ngIf="invalidAbout == true" [ngClass]="{ 'employeeRequiredDiv' : invalidAbout == true}">Employee abot is required</div>

            <div>
                <div class="row">
                    <div class="col-3 nameCol date">
                        Joining Date <span class="star">*</span>
                    </div>
                    <div clas="col-9 inputCol" class="dateInputBox" [ngClass]="{ 'dateRequired' : invalidDate == true}">
                            <input formControlName="date" (click)="addDate()" class="dateInput" [matDatepickerFilter]="myFilter"
                                placeholder="Select Joining Date" [matDatepicker]="picker">
                            <mat-hint class="dateFormate">MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix class="dateFormate" [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
            </div>

            <div *ngIf="invalidDate == true" [ngClass]="{ 'employeeRequiredDate' : invalidDate == true}">Date is required</div>

            <button mat-flat-button class="submitbutton" color="primary">Submit</button>
        </form>
    </mat-card-content>
</mat-card>